section.information
  .container
    .information__content
      .row.information__first-category
        .information__img
          img(
            src='./assets/images/information/leading-healthcare.webp',
            alt='img-leading-healthcare'
          )
        .information__category
          h3.information__category-title Leading healthcare providers
          p.information__category-describing Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver
          .information__category-btn
            button.btn.btn--primary Learn more
      .row
        .information__category
          h3.information__category-title Download our Saviour Care mobile app
          p.information__category-describing Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely
          .information__category-btn
            button.btn.btn--primary Download
              i.download-icon.fa-solid.fa-down-long
        .information__img
          img.information__img-mobile-app(
            src='./assets/images/information/mobile-app.webp',
            alt='img-mobile-app'
          )
      .row.information__last-category
        .information__img
          img(
            src='./assets/images/information/find-a-doctor.webp',
            alt='img-find-a-doctor'
          )
        .information__category
          h3.information__category-title Find a Doctor near you
          p.information__category-describing Our app and web portal allows you to find the doctor to your nearest location.
          .information__category-btn
            button.btn.btn--primary Find now
    img.information-element(
      src='./assets/images/element/element-2.webp',
      alt='element-2'
    )
