section.rating
  .container
    .rating__content
      .rating__card
        img.rating__element-top(
          src='../assets/images/element/element-1.png',
          alt='element-1'
        )
        h3.rating__card-title What our customers are saying
        .rating__card-content
          .rating__card-person
            img(
              src='../assets/icons/rating/person-icon.png',
              alt='img-person-rating'
            )
            .rating__card-person-name
              h5 Ak
              p Abc ltd
          .rating__card-describing
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      img.rating__element-bottom(
        src='../assets/images/element/element-1.png',
        alt='element-1'
      )
      .rating__control
        a.rating__control-directional(href='#')
          i.rating__control-icon.fa-solid.fa-left-long
        ul.rating__control-list
          li.rating__control-item
            a#element-focus(href='#')
          li.rating__control-item
            a(href='#')
          li.rating__control-item
            a(href='#')
          li.rating__control-item
            a(href='#')
        a.rating__control-link(href='#')
          i.rating__control-icon.fa-solid.fa-right-long
